<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragenkatalog</title>
</head>
<body>
    <h1>Fragenkatalog</h1>
    <form action="{{ url_for('submit_fragenkatalog') }}" method="post">
        <div>
            <label>Wie viel wiegst du?</label>
            <input type="number" name="gewicht" required>
        </div>
        <div>
            <label>Was ist dein Zielgewicht?</label>
            <input type="number" name="zielgewicht" required>
        </div>
        <div>
            <input type="submit" value="Weiter">
        </div>
        <!-- Button, um zurück zur Startseite zu gelangen -->
        <div>
            <button type="button" onclick="location.href='/';">Zurück zur Startseite</button>
        </div>
    </form>
</body>
</html>
